<h1>WorkTimes#index</h1>
<div class="btn-group">
  <%= link_to "Input", new_work_time_path, class: "btn btn-primary" %>
</div>

<table class="table table-bordered">
  <tr>
      <th>id</th>
      <th>user_id</th>
      <th>start_time</th>
      <th>end_time</th>
  </tr>
  <% @work_times.each do |work_time| %>
  <tr>
      <td><%= work_time.id %></td>
      <td><%= work_time.user_id %></td>
      <td><%= work_time.start_time.to_s %></td>
      <td><%= work_time.end_time.to_s %></td>
  </tr>
  <% end %>
</table>
