<h1><%= unless @work_times.first.work_date then ''
        else @work_times.first.work_date.strftime('%Y年%m月') end %></h1>
<table class="table table-bordered">
    <tr>
      <th><%= fa_icon "calendar" %> 日付</th>
      <th><%= fa_icon "clock-o" %> 始業時間</th>
      <th><%= fa_icon "clock-o" %> 終業時間</th>
      <th><%= fa_icon "sticky-note-o" %> 備考</th>
      <th><%= fa_icon "pencil" %></th>
    </tr>
  <% @work_times.each do |work_time| %>
      <% if check_holiday(work_time.work_date, @work_times.first.work_date, @work_times.last.work_date) ||
            work_time.work_date.cwday == 7
        %>
      <tr bgcolor='#ffc1c1'>
      <% elsif work_time.work_date.cwday == 6 %>
      <tr bgcolor='#e5edfe'>
      <% else %>
      <tr>
      <% end %>
        <td><%= format_date work_time.work_date %></td>
        <td><%= format_time work_time.start_time %></td>
        <td><%= format_time work_time.end_time %></td>
        <td>
          <% if holiday_name(work_time.work_date) %>
          <span style="color: red"><%= holiday_name(work_time.work_date) %></span><br />
          <% end %>
          <% if work_time.holiday_code != @holiday_enum[""] && @holiday_enum.key(work_time.holiday_code) %>
          <span style="color: red"><%= @holiday_enum.key(work_time.holiday_code) %></span><br />
          <% end %>
          <%= work_time.note %>
        </td>
        <td>
          <div class="btn-group">
            <%= link_to '変更',
             {:controller => "work_times", :action => "show", :id => work_time.id},
              class: "btn btn-primary btn-xs" %>
          </div>
        </td>
      </tr>
  <% end %>
</table>
