<%= form_for(@work_time) do |f| %>
  <div class="form-group">
    <%= f.hidden_field :user_id, class: 'form-control' %>
    <%= f.label :time, class: 'control-label' %>
    <div class='input-group date' id='datetimepicker'>
      <%= f.text_field :time, class: 'form-control' %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
      </span>
    </div>
  </div>
  <p><%= f.submit 'submit', class: 'btn btn-primary' %></p>

<% end %>
