<h1>Users#show</h1>
<table class="table table-bordered">
  <tr>
      <th><%= fa_icon "user" %> 名前</th>
      <td><%= best_in_place @user, :name %></td>
  </tr>
  <tr>
      <th><%= fa_icon "briefcase" %> 社員ID</th>
      <td><%= best_in_place @user, :employee_id %></td>
  </tr>
  <tr>
    <th rowspan="<%= @work_date_hash.count + 1 %>"><%= fa_icon "calendar" %> 勤務表一覧</th>
  </tr>
</table>
